@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        color-scheme: light;
    }

    .dark {
        color-scheme: dark;
    }
}

@theme {
    --color-primary-50: #faebf0;
    --color-primary-100: #f5d6e1;
    --color-primary-200: #eaaec3;
    --color-primary-300: #e085a5;
    --color-primary-400: #d55d87;
    --color-primary-500: #cb3469;
    --color-primary-600: #a22a54;
    --color-primary-700: #7a1f3f;
    --color-primary-800: #51152a;
    --color-primary-900: #290a15;
    --color-primary-950: #1c070f;

    --text-tiny: 0.625rem;
    --breakpoint-xs: 32rem;
}

@layer base {
    *, ::before, ::after {
        transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}

